<div class="addProfile">
    <h4 class="addProfile__title">Ajouter un profil</h4>
    <form class="addProfile__form">
        
        <input required type="hidden" name="todo" value="addProfile">
        <input required type="hidden" name="id" value="">
 
        <input class="addProfile__item"required type="text" name="name" placeholder="Nom du profil*">
        <input class="addProfile__item" type="text" name="image" placeholder="Avatar (image)">
        <input class="addProfile__item" required type="number" name="age" placeholder="Âge*" min="1" max="120">
        
        <input class="addProfile__btn" onclick="{{handler}}" type="button" value="Ajouter" name="button">

    </form>
</div>