.category__section {
  margin-bottom: 2rem;
  padding-inline: 2rem;
}

.category__section-title {
  border-bottom: 2px solid var(--color-title);
  margin-bottom: var(--space-s);
  padding-bottom: var(--space-xs);
  margin-left: 1rem;
}

.category__section-movies {
  grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
}


@media (max-width: 768px) {
  .category__section {
    padding: 0;
  }

}