.movies {
  display: flex;
  gap: 1rem;
  padding: 1.25rem;
  justify-content: flex-start;
  align-content: center;
  overflow-x: auto;

  .movie__card {
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 30rem;
    max-width: 18.2813rem;
    min-width: 18.2813rem;
    border: 1px solid var(--color-white);
    padding: 0;
    text-align: left;
    box-sizing: border-box;
  }

  .movie__poster-container {
    position: relative;
    width: 18.125rem;
    height: 26.25rem;
    cursor: pointer;
    overflow: hidden;
  }

  .movie__poster {
    width: 100%;
    height: 26.25rem;
    object-fit: cover;
    display: block;
    transition: filter 0.3s ease;
    cursor: pointer;
  }

  .movie__name {
    font-size: 1.125rem;
    color: var(--color-black);
    font-family: var(--ff-host);
    margin: 0.625rem 0 0.3125rem;
  }

  .movie__director {
    font-size: 0.75rem;
    color: var(--color-gray);
    font-family: var(--ff-host);
    margin: 0;
  }
}
