.moviedetail__container {
  display: flex;
  gap: 2.5rem;
  padding: 2.5rem;
  max-width: 81.25rem;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  overflow-x: hidden;
  flex-direction: column;
  }

  .moviedetail__left {
    flex-shrink: 0;
  }

  .moviedetail__poster {
    width: 32.5rem;
    height: 44.375rem;
    object-fit: cover;
    border-radius: 0.5rem;
    display: block;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }

  .moviedetail__title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--color-black);
    font-family: var(--ff-host);
    margin: 0;
  }

  .moviedetail__info {
    display: flex;
    color: var(--color-black);
    flex-direction: column;
    gap: 0.75rem;
  }

  .moviedetail__description {
    font-size: 1rem;
    color: var(--color-black);
    line-height: 1.6;
    margin: 0;
  }

  .moviedetail__meta {
    font-size: 0.95rem;
    color: var(--color-black);
    margin: 0;
  }

  .moviedetail__meta strong {
    color: var(--color-black);
  }

  .moviedetail__trailer {
    margin-top: 1.25rem;
  }

  .moviedetail__trailer h3 {
    font-size: 1.3rem;
    color: var(--color-black);
    font-family: var(--ff-host);
    margin: 0 0 0.9375rem 0;
  }

  .moviedetail__trailer iframe {
    width: 43.75rem;
    height: 25.9375rem;
    border: none;
    border-radius: 8px;
  }

 
 @media (max-width: 768px) {
    .moviedetail__container {
      flex-direction: column;
      padding: 1.25rem;
      gap: 1.25rem;
    }

    .moviedetail__poster {
      width: 100%;
      height: auto;
    }
    
    .moviedetail__poster {
      width: 18.75rem;
      height: auto;
    }

    .moviedetail__title {
    font-size: 1.75rem;
  }

    .moviedetail__left {
    display: flex;
    justify-content: center;
    align-items: center;;
  }

    .moviedetail__trailer iframe {
    width: 20.625rem;
    height: 12.5rem;
    }

    .moviedetail__trailer iframe {
      width: 100%;
      height: auto;
    }
  }